/*-__________ Top-level styles __________-*/

* {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	font-family: "Open Sans", sans-serif;
}

a {
	text-decoration: none;
	color: #fff;
}

/*-__________ Header styles __________-*/

#main-header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	position: fixed;
	top: 0;
	width: 100%;
	background-color: #f25f5c;
	border-bottom: 2px solid #fff;
}

#main-header h1 {
	margin: 20px;
	font-weight: 700;
	color: #fff;
	font-family: "Wallpoet", sans-serif;
	font-size: 3.5em;
}

#main-header ul {
	list-style-type: none;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin: 20px;
}

#main-header li {
	font-size: 1.5em;
	margin: 0 20px;
	font-family: "Dosis", "Open Sans", sans-serif;
}

#main-header a:hover {
	color: #003d5b;
}



/*-__________ Banner styles __________-*/

#banner {
	width: 100%;
	height: 600px;
	margin: 0;
	margin-top: 84px;
	padding: 150px;
	background-color: transparent;
  background-image: url('../../img/mountain_everest.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}

#banner h1 {
	font-family: "Creepster", sans-serif;
	font-size: 10em;
	letter-spacing: -.02em;
	margin: 20px auto;
	color: #f25f5c;
	text-shadow: 4px 4px 2px rgba(0,0,0,.35);
}




/*-__________ Main content area styles __________-*/

#wrapper {
	background: #f25f5c;
	min-height: calc(100vh - 40px);
	margin: 0;
	padding: 20px;
	border-top: 2px solid #f25f5c;
}

.page {
	margin: 20px auto;
	padding: 20px;
	width: 95%;
	background: #f7f7f7;
	border-radius: 10px;
	box-shadow: 0px 0px 5px 2px rgba(0,0,0,.4);
}

.page h1 {
	font-size: 2em;
	margin: 10px auto;
}

.content-wrap {
	display: flex;
	flex-direction: row;
	height: 50%;
	align-items: center;
}

.content {
	flex-basis: 275px;
	margin: 5px;
	padding: 15px;
	height: 100%;
	text-align: justify;
}

.featured {
	flex-grow: 2;
	border: 1px solid #074F57;
	border-top: none;
	border-bottom: none;
}

.featured_img_box {
	display: flex;
	flex-direction: row;
	width: 100%;
}

.featured img {
	width: 47.5%;
	height: 47.5%;
	margin: 5px;
	display: inline-block;
	float: left;
}

.featured img:last-of-type {
	float: right;
}


/*-__________ Footer styles __________-*/

#main-footer {
	width: 100%;
	height: 40px;
	text-align: center;
	background: #f4f4f4;
}



/*-____________HISTORY_____________-*/
#wrapper-main {
background: #074F57;
	min-height: calc(100vh - 40px);
	margin-top: 84px ;
	padding: 20px;

}

/*-__________ More index.html styles __________-*/

.below {
	margin-top: 10px;
	justify-content: space-between;
}

.below {
	border: none;
	flex-grow: 1;
	text-align: center;
}

.below p {
	font-style: italic;
	font-size: .8em;
	text-align: justify;
}

.below img {
	border-radius: 20px;
	box-shadow: 0 2px 2px rgba(0,0,0,.2);
}


/*-__________ EMPLOYEES __________-*/

.bio-card {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
}

.avatar {
	width: 200px;
	height: 200px;
	border-radius: 50%;
	margin: 20px;
	float: left;
}

.employee {
	flex-grow: 3;
	margin-right: auto;
}

.employee-bio {
	border-top: 1px solid #000;
	border-bottom: 1px solid #000;
	padding: 15px;
}

.clearfix::after {
	content: "";
	display: table;
	clear: both;
}


/*-__________ AWARDS __________-*/


.awarDiv h2{
	font-size: 1.5em;
}


/*-__________ EXPERIENCES __________-*/


#wrapper-products {
	background: #074F57;
	min-height: calc(100vh - 40px);
	margin: 0;
	margin-top: 84px;
	padding: 20px;
	border-top: 2px solid #f25f5c;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
}

.product-card {
	margin: 20px auto;
	padding: 20px;
	width: 30%;
	background: #f7f7f7;
	border-radius: 10px;
	box-shadow: 0px 0px 5px 2px rgba(0,0,0,.4);
	display: flex;
	flex-direction: column;
	height: 650px;
}

.product-card img {
	width: 100%;
}

.product-card p {
	text-align: justify;
}

.product-card a {
	color: #f25f5c;
}




